<div id=<%="item-#{item.id}"%> class="item list-group-item">
  <button type="button" class="btn btn-default btn-lg display-inline-right">
    <span class="glyphicon glyphicon-ok completed-icon" aria-hidden="true"></span>
    <%= link_to 'Item Completed', user_item_path(@user, item), method: :delete, remote: true %>
  </button>
  <h4 class='list-group-item-heading'><%= item.name %></h4> 
  <p class='list-group-item-text'><%= item.days_left %> days left to complete</p>
</div>
